 .device-card {
   box-shadow: var(--pf-global--BoxShadow--sm);
   border: 1px solid var(--pf-global--BorderColor--200);
   background-color: var(--pf-global--BackgroundColor--light-100);
 }

 .network-table {
   width: 100%;
   border-collapse: collapse;
 }

 .network-table th,
 .network-table td {
   border: 1px solid var(--pf-global--BorderColor--200);
   padding: var(--pf-global--spacer--sm);
   text-align: left;
 }

 .flash {
   animation: flashBorder 1s ease-in-out infinite alternate;
 }

 @keyframes flashBorder {
   from {
     border-color: red;
   }
   to {
     border-color: var(--pf-global--palette--red-200);
  }
 }